/* 
    Created on : 22-Jul-2015
    Author     : Ajit Singh
    Description:
        CSS for the main (home)) page.
*/

html{
	height: 101%;
}
body {
	margin:0px;padding:0px;background:#EEEEEE; 
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#NetworkCanvas{position:relative;padding-bottom:5px;float:left;border: 1px solid;}
/* css for the iframe containing the cytoscapejs Network Graph */
#new_NetworkViewer {width: 98%; height: 98%;border: 1px solid; }

/*
 * networkview Modal popupBox
 */
#modalShadow {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index:1999;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	display:none;
}
.modalBox {
	position: relative;
	width: 760px;
	height: 750px;
        border: 1px solid;
}

.modalBox.modalBoxVisible  {
	position: fixed;
	left: 3%;
	right: 3%;
	top: 44px;
	bottom: 50px;
	height: auto;
	width: auto;
	z-index: 2000;
	text-align: center;
}	

.modalBoxVisible #OndexWebContainer {
	bottom: 100px;
}

.modalBox #legend_picture {
	position: absolute;
	bottom: 50px;
}

.modalBox.modalBoxVisible #legend_picture{
	bottom: 0px;
}

.modalBox.modalBoxVisible #legend_frame {
	background-color: #fff;
}

.modalBox.modalBoxVisible #restoreNetwork {
	display:inline-block;
}

#buttonBox {
	position: relative;
	height: 50px;
	margin-top:5px;
	text-align: right
}

/*
 * network Buttons
 */
 .networkButtons {
	height: 36px;
	width: 36px;
	margin-left: 3px;
	margin-right: 3px;
	display: inline-block;
}

#buttonBox .networkButtons {
	text-align: right;
}

#newNetworkWindow {
	background: url(../image/New_Window.png) 0 0 no-repeat;
}
#newNetworkWindow:hover {
	background-position: -36px 0;
}

#maximiseNetwork {
	background: url(../image/Maximise.png) 0 0 no-repeat;
}
#maximiseNetwork:hover {
	background-position: -36px 0;
}

#downloadNetworkTab {
	background: url(../image/Download.png) 0 0 no-repeat;
}
#downloadNetworkTab:hover {
	background-position: -36px 0;
}

#restoreNetwork {
	background: url(../image/Restore.png) 0 0 no-repeat;
	position: relative;
	top:-35px;
	z-index: 2000;
	display: none;
}

#restoreNetwork:hover {
	background-position: -36px 0;
}	

#networkHelpBox {
	display: none;
	z-index: 1000;
	width: 730px;
	height: 265px;
	position: absolute;
	top: -290px;
	background-color: #F4F5F7;
	border: solid 3px #e4e4e4;
	padding: 10px 10px 10px 10px;
}
